  <script type="application/ld+json" k-partial>
  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "Québec",
      "addressRegion": "Canada",
      "streetAddress": "1415 Frank-Carrel Suite 230 Quebec, QC G1N 4N7 - CANADA",
      "postalCode":"G1N 4N7",
      "addressCountry": "Canada"
      
    },
    "description": "[[ruggedmonitoring.business_details.about_ruggedmonitoring]]",
    "name": "Rugged Monitoring",
    "telephone": "+1-418-767-0111",
    "image": "[[ruggedmonitoring.rootaliasurl.url]]/images/logo.png",
    "email" : "info@ruggedmonitoring.com",
    "geo":  {
            "@type":"GeoCoordinates",
            "latitude":"46.797075",
            "longitude":"-71.260115"
          } 
  }
  </script>
  <script type="application/ld+json">
 {
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "[[ruggedmonitoring.business_details.business_name]]",
  "legalName": "[[ruggedmonitoring.business_details.business_name]]",
  "url": "[[ruggedmonitoring.rootaliasurl.url]]",
  "logo": "[[ruggedmonitoring.rootaliasurl.url]]/images/logo.png",
  // "foundingDate": "2009",
  // "founders": [
  //   {
  //     "@type": "Person",
  //     "name": "Patrick Coombe"
  //   },
  //   {
  //     "@type": "Person",
  //     "name": ""
  //   }
  // ],
 "address": {
      "@type": "PostalAddress",
      "addressLocality": "Québec",
      "addressRegion": "Canada",
      "streetAddress": "1415 Frank-Carrel Suite 230 Quebec, QC G1N 4N7 - CANADA",
      "postalCode":"G1N 4N7",
      "addressCountry": "Canada"
    },
  "contactPoint": {
    "@type": "ContactPoint",
    "contactType": "customer support",
    "telephone": "[+1-418-767-0111]",
    "email": "info@ruggedmonitoring.com"
  }
  //"sameAs": [
    // "http://www.freebase.com/m/0_h96pq",
    // "http://www.facebook.com/elitestrategies",
    // "http://www.twitter.com/delraybeachseo",
    // "http://pinterest.com/elitestrategies/",
    // "http://elitestrategies.tumblr.com/",
    // "http://www.linkedin.com/company/elite-strategies",
    // "https://plus.google.com/106661773120082093538"
  //]
}

</script>